 body {
            font-family: Century Gothic, sans-serif;
            background-color: #FFE4E1;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        table {
          font-family: Century Gothic, sans-serif;
          border-collapse: collapse;
          width: 100%;
          margin-top: 10px;
          text-align: center;
        }

        table, th, td {
          border: 1px solid #ddd;
        } 

        th, td {
         padding: 8px;
         text-align: left;
        }

        tr:nth-child(even) {
         background-color: #f2f2f2;
        }

        th {
        background-color: #FFC0CB;
        color: white;
        }


        header {
    background-color: #FFC0CB;
    color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center; 
}

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }

        section {
            flex: 1;
            margin: 10px;
        }

        h2 {
            background-color: #DB7093;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: left;
        }

        li {
            margin: 10px 0;
        }

        img {
            max-width: 50%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .step {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }

        .step-text {
            flex: 1;
            text-align: left;
            padding: 0 20px;
        }

    .frame1,
    .frame2 {
    width: 400px;
    height: 200px; 
    border: 10px outset lightpink;
    margin: 0 auto; 
    display: up;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 45%;

}

.frame1 p,
.frame2 p {
    text-align: center;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.gallery-container img {
  height: 150px; 
  margin: 0 10px; 
}

.recipe-links {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.recipe-links a {
  margin: 0 10px; 
}

footer {
  background-color: #DB7093; 
  color: #fff; 
  padding: 20px;
  text-align: center;
}

.contact-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  margin: 5px 0;
}
