/* Общие правила */

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: #db7093;
  text-decoration: none;
}

/* Заголовок */

header {
  background-color: #db7093;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 60px;
  font-weight: bold;
}

header h2 {
  font-size: 24px;
  font-weight: bold;
}

header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Основная часть */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.section {
  width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}

.section h2 {
  font-size: 32px;
  font-weight: bold;
}

.section img {
  width: 50%;
  height: auto;
}

.section p {
  font-size: 20px;
}

/* Шаги рецепта */

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.step {
  width: 250px;
  height: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}

.step h3 {
  font-size: 24px;
  font-weight: bold;
}

.step p {
  font-size: 18px;
}

/* Галерея изображений */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.gallery img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

/* Ссылки на другие рецепты */

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.links a {
  font-size: 18px;
  margin: 10px;
}

/* Футер */

footer {
  background-color: #008B8B;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer h2 {
  font-size: 24px;
  font-weight: bold;
}

footer p {
  font-size: 16px;
}
